@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "Junicode";
        src: url("/fonts/JunicodeVF-Roman.woff2") format("woff2-variations");
    }
    @font-face {
        font-family: "Junicode";
        src: url("/fonts/JunicodeVF-Italic.woff2") format("woff2-variations");
        font-style: italic;
    }
}